<section class="appbar">
    <div class="leading center">
        <a href="/" >
            <span class="iconfont">&#xe603;</span>
        </a> 
    </div>
    <div class="appbar-title center"> 
        <% if (is_home() || is_show_appbar_nav(page.path)) { %>
        <nav class="nav-appbar">
            <div class="nav-item center <%= is_appbar_nav_active(page.path, 'house/')%>">
                <span>新房</span>
            </div>
            <div class="nav-item center <%= is_appbar_nav_active(page.path, 'house_resold')%>">
                <span>二手房</span>
            </div>
        </nav>
        <% } else if (is_category()) { %>
            <div class="appbar-title center"> 
                <span class="appbar-title-text"><%= page.category %></span>
            </div>
        <% } else if (is_page()) { %>
            <div class="appbar-title center"> 
                <span class="appbar-title-text"><%= page.title %></span>
            </div>
        <% }%>
    </div>
    <div class="right center">
        <span class="iconfont">&#xe612;</span>
    </div>
</section>