<div class="content-appbar">
    <div class="content-appbar-item center active">s</div>
    <div class="content-appbar-item center">s</div>
    <div class="content-appbar-item center">s</div>
    <div class="content-appbar-item center">s</div>
    <div class="content-appbar-item center">s</div>
</div>