<section class="content">
    <div class="content-appbar">
<% 
    // category_list
    const category = main_category(page.path, is_home());
    const pCate = site.categories.data.find(item => item.slug === category);
    const pId = pCate._id;
    const categories = site.categories.data.filter(item => item.parent === pId);

    const level = base => base.split('/').filter(item => !['categories', ''].includes(item)).length);

    // category
    const category_name =(is_home() || level(page.base) == 1) ? categories[0].name : page.category;
    log(category_name);
%>
<% for (item in categories) { %>
    <div class="content-appbar-item center <% if (category_name === categories[item].name) {%>active<% }%>">
        <a href="/<%= categories[item].path %>">
            <%= categories[item].name %>
        </a>
    </div>
<% } %>
    </div>
<% 
    const currCate = site.categories.data.find(item => item.name == page.category);
    const reg = new RegExp(`^${currCate.slug.replace(/-/g, '_')}/`);
    const posts = site.posts.data.filter(item => reg.test(item.slug.replace(/-/g, '_')));
%>
    <div class="content-body">
        <div class="scroll-panel scroll">
            <% for (let i = 0; i< posts.length; i++) { %>
            <a href="/<%= posts[i].path %>">
                <article class="content-body-article">
                    <span class="title"><%= posts[i].title %></span>
                </article>
            </a>
            <% } %>
        </div>
    </div>
</section>
