<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <%- partial('_partial/header') %>
</head>
<body class="is-preload">
    <%- partial('_partial/appbar') %>
    <%- body %>
    <%- partial('_partial/footer') %>
</body>
</html>
