.home
  padding: 0 24px
  a
    color: #14161A
  .category-list
    padding-left 0
    list-style none
  .category-list-item
    padding: 0
    font-size 14px
  .category-list-child 
    padding-left 16px
    margin-top 16px
    .category-list-item
      font-size 12px
  .category-list-item
    list-style none
    margin-bottom 8px
    padding: 4px 8px
  .category-list-child
    display flex
    flex-wrap wrap
